---
import BaseLayout from '@/layouts/BaseLayout'
import { Picture } from 'astro-imagetools/components'
import TitlePage from '@/components/TitlePage'
import ListCategories from '@/components/ListCategories'
import FormattedDate from '@/components/FormattedDate'
import { getPosts } from '@/utils'

const posts = await getPosts()
---

<BaseLayout title='Archive'>
	<TitlePage title='Archive' />
	<ListCategories />
	<div class='grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-8 mt-3'>
		{
			posts
				.sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime())
				.map((post) => (
					<a
						href={`/post/${post.slug}`}
						aria-label={`${post.data.title}`}
						class='flex items-center gap-4 bg-gray-200/60 dark:bg-gray-700/60 p-4 transition-all hover:shadow-lg hover:bg-gray-300/70 dark:hover:bg-gray-600/70 appear-smoothly w-full'
					>
						<div class='relative w-24 h-20 rounded-lg overflow-hidden'>
							<Picture
								src={post.data.heroImage}
								alt={`Image of ${post.data.title}`}
								width={100}
								sizes='96px'
								placeholder='blurred'
								layout='fill'
								loading='lazy'
							/>
						</div>

						<div class='flex flex-col w-full overflow-hidden'>
							<h2 class='text-lg font-semibold truncate'>{post.data.title}</h2>
							<p class='text-sm text-gray-600 dark:text-gray-300'>
								<FormattedDate date={post.data.pubDate} />
							</p>
							<p class='text-sm text-gray-700/90 dark:text-gray-300/80 max-w-[80%] whitespace-nowrap overflow-hidden text-ellipsis'>
								{post.data.description}
							</p>
						</div>
					</a>
				))
		}
	</div>
</BaseLayout>
