---
import HeaderLink from '@/components/HeaderLink'
import TwitterIcon from '@/components/icons/TwitterIcon'
import GithubIcon from '@/components/icons/GithubIcon'
import MusicIcon from '@/components/icons/MusicIcon'
import SpotifyIcon from '@/components/icons/SpotifyIcon'
import MenuIcon from '@/components/icons/MenuIcon'
import InstagramIcon from '@/components/icons/InstagramIcon'
import LinkedInIcon from '@/components/icons/LinkedInIcon'
import YouTubeIcon from '@/components/icons/YouTubeIcon'
import Search from '@/components/Search'
import ToggleTheme from './ToggleTheme.astro'

// ADD YOUR SOCIAL NETWORKS HERE
const SOCIALNETWORKS = [
	{
		name: 'Github',
		url: 'https://github.com/mrdonado',
		icon: GithubIcon
	},
	{
		name: 'LinkedIn',
		url: 'https://www.linkedin.com/in/f-javier-r-donado',
		icon: LinkedInIcon
	},
	{
		name: 'Twitter',
		url: 'https://x.com/jdonado',
		icon: TwitterIcon
	},
	{
		name: 'Instagram',
		url: 'https://instagram.com/jdonadolens',
		icon: InstagramIcon
	},
	{
		name: 'My Music on Spotify',
		url: 'https://open.spotify.com/artist/60ICs7yKs1yRwW1ZVIJzYV',
		icon: SpotifyIcon
	},
	{
		name: 'YouTube Channel',
		url: 'https://www.youtube.com/@mrdonado',
		icon: YouTubeIcon
	},
	{
		name: 'My Music on Bandcamp',
		url: 'https://jdonado.bandcamp.com',
		icon: MusicIcon,
		hidden: true
	}
]

const currentPath = Astro.url.pathname

const isHome = currentPath === '/' || currentPath === ''
const isApps = currentPath.startsWith('/apps')
const isPulse =
	currentPath.startsWith('/pulse') ||
	currentPath.startsWith('/post') ||
	currentPath.startsWith('/category') ||
	currentPath.startsWith('/tags')

const translateClass = 'translate-y-[-10em]'
const topClass = 'top-[calc(3.5em)]'
---

<header class='relative flex items-center h-12 font-semibold'>
	<a class=`text-lg mr-5 ${isHome ? 'underline' : ''}` href='/'>Home</a>
	<a class=`text-lg mr-5 ${isPulse ? 'underline' : ''}` href='/pulse'>Pulse</a>
	<a class=`text-lg mr-auto ${isApps ? 'underline' : ''}` href='/apps'>Apps</a>

	<div
		id='astro-header-drawer'
		class={`shadow rounded-lg md:bg-transparent dark:md:bg-transparent bg-white dark:bg-[#0a0910] bg-opacity-80 dark:bg-opacity-80 md:shadow-none backdrop-blur-sm md:border-none md:h-auto md:static absolute transition-transform duration-300 ease-in md:translate-y-0 ${topClass} left-0 right-0 pl-4 pt-6 pb-4 md:p-0 h-[5.5em] w-auto z-50 ${translateClass}`}
	>
		<nav class='flex h-full flex-col justify-between gap-12 text-left md:w-full md:gap-5'>
			<div
				class='social-networks flex justify-center items-center md:justify-end gap-3 md:p-0 md:flex-row'
			>
				{
					SOCIALNETWORKS.filter((network) => !network.hidden).map((network) => (
						<HeaderLink class='' href={network.url} target='_blank' aria-label={network.name}>
							<span>{<network.icon />} </span>
						</HeaderLink>
					))
				}
			</div>
		</nav>
	</div>

	<div class='flex items-center gap-3 md:pl-3' transition:persist='navbar'>
		<div>
			<Search />
		</div>
		<ToggleTheme />
		<button
			id='astro-header-drawer-button'
			type='button'
			class='md:ml-6 md:hidden'
			data-translate-class={translateClass}
		>
			<MenuIcon />
			<span class='sr-only'>Show Menu</span>
		</button>
	</div>
</header>

<script>
	document.addEventListener('click', (event) => {
		const headerDrawer = document.getElementById('astro-header-drawer')
		const headerDrawerButton = document.getElementById('astro-header-drawer-button')
		const translateClass = headerDrawerButton?.dataset.translateClass || ''

		const menu = headerDrawer
		const menuButton = headerDrawerButton
		const isClickInside =
			menu?.contains(event.target as HTMLDivElement) ||
			menuButton?.contains(event.target as HTMLButtonElement)

		if (isClickInside) {
			menu?.classList.toggle(translateClass)
		} else {
			menu?.classList.add(translateClass)
		}
	})
</script>
