---
import HeaderLink from '@/components/HeaderLink'
import HomeIcon from '@/components/icons/HomeIcon'
import TwitterIcon from '@/components/icons/TwitterIcon'
import GithubIcon from '@/components/icons/GithubIcon'
import MusicIcon from '@/components/icons/MusicIcon'
import SpotifyIcon from '@/components/icons/SpotifyIcon'
import MenuIcon from '@/components/icons/MenuIcon'
import InstagramIcon from '@/components/icons/InstagramIcon'
import LinkedInIcon from '@/components/icons/LinkedInIcon'
import YouTubeIcon from '@/components/icons/YouTubeIcon'
import Search from '@/components/Search'
import ToggleTheme from './ToggleTheme.astro'

// ADD YOUR SOCIAL NETWORKS HERE
const SOCIALNETWORKS = [
	{
		name: 'Github',
		url: 'https://github.com/mrdonado',
		icon: GithubIcon
	},
	{
		name: 'LinkedIn',
		url: 'https://www.linkedin.com/in/f-javier-r-donado',
		icon: LinkedInIcon
	},
	{
		name: 'Twitter',
		url: 'https://x.com/jdonado',
		icon: TwitterIcon
	},
	{
		name: 'Instagram',
		url: 'https://instagram.com/jdonadolens',
		icon: InstagramIcon
	},
	{
		name: 'My Music on Spotify',
		url: 'https://open.spotify.com/artist/60ICs7yKs1yRwW1ZVIJzYV',
		icon: SpotifyIcon
	},
	{
		name: 'YouTube Channel',
		url: 'https://www.youtube.com/@mrdonado',
		icon: YouTubeIcon
	},
	{
		name: 'My Music on Bandcamp',
		url: 'https://jdonado.bandcamp.com',
		icon: MusicIcon,
		hidden: true
	}
]

const { activeCategory } = Astro.props

const currentPath = Astro.url.pathname

const isHome = currentPath === '/' || currentPath === ''
const isApps = currentPath.startsWith('/apps') || activeCategory === 'Labs'
const isPulse =
	(currentPath.startsWith('/pulse') ||
		currentPath.startsWith('/post') ||
		currentPath.startsWith('/category') ||
		currentPath.startsWith('/tags') ||
		currentPath.startsWith('/archive')) &&
	!isApps

const translateClass = 'translate-y-[-20em]'
const topClass = 'top-[calc(3.5em)]'
---

<header class='relative w-full'>
	<div
		class='px-5 sm:mx-auto sm:max-w-2xl sm:px-8 lg:px-0 md:max-w-6xl flex items-center py-4 md:py-2 font-light'
	>
		<a class='text-lg mr-5' href='/' aria-label='Home'>
			<HomeIcon filled={isHome} />
		</a>
		<a class=`text-lg mr-5 ${isPulse ? 'font-bold' : ''}` href='/pulse'>Pulse</a>
		<a class=`text-lg mr-auto ${isApps ? 'font-bold' : ''}` href='/apps'>Apps & More</a>

		<nav
			id='astro-header-drawer'
			class={`rounded-lg md:bg-transparent dark:md:bg-transparent bg-white dark:bg-[#0a0910] bg-opacity-80 dark:bg-opacity-80 md:h-auto md:static fixed transition-transform duration-300 ease-in-out md:translate-y-0 grid grid-cols-3 gap-4 md:flex md:flex-row md:gap-3 ${topClass} left-0 right-0 px-4 py-6 md:p-0 w-auto z-50 ${translateClass}`}
		>
			{
				SOCIALNETWORKS.filter((network) => !network.hidden).map((network) => (
					<HeaderLink
						class='flex items-center justify-center p-2 hover:bg-gray-100/30 dark:hover:bg-gray-800/30 rounded-lg transition-colors'
						href={network.url}
						target='_blank'
						aria-label={network.name}
					>
						<span class='flex items-center justify-center'>{<network.icon />}</span>
					</HeaderLink>
				))
			}
		</nav>

		<div class='flex items-center gap-3 md:pl-3' transition:persist='navbar'>
			<button
				id='astro-header-drawer-button'
				type='button'
				class='md:ml-6 md:hidden'
				data-translate-class={translateClass}
			>
				<MenuIcon />
				<span class='sr-only'>Show Menu</span>
			</button>
			<ToggleTheme />
		</div>
	</div>
</header>

<script>
	document.addEventListener('click', (event) => {
		const headerDrawer = document.getElementById('astro-header-drawer')
		const headerDrawerButton = document.getElementById('astro-header-drawer-button')
		const translateClass = headerDrawerButton?.dataset.translateClass || ''

		const menu = headerDrawer
		const menuButton = headerDrawerButton
		const isClickInside =
			menu?.contains(event.target as HTMLDivElement) ||
			menuButton?.contains(event.target as HTMLButtonElement)

		if (isClickInside) {
			menu?.classList.toggle(translateClass)
		} else {
			menu?.classList.add(translateClass)
		}
	})
</script>
