---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout'
import type { MarkdownHeading } from 'astro'
import { Image } from 'astro:assets'
import AppStoreIcon from '@/components/icons/AppStoreIcon'
import AppStoreComingIcon from '@/components/icons/AppStoreComingIcon'
import GooglePlayIcon from '@/components/icons/GooglePlayIcon'
import GooglePlayIconComing from '@/components/icons/GooglePlayComingIcon'
import Share from '@/components/Share'

type Props = {
	id: CollectionEntry<'app'>['id']
	data: CollectionEntry<'app'>['data']
	headings: MarkdownHeading[]
	readTime: string
}

const { data } = Astro.props
const { name, description, pubDate, heroImage, icon, screenShots, appStore, playStore } = data

const articleDate = pubDate.toISOString()
---

<BaseLayout title={name} description={description} image={heroImage?.src} articleDate={articleDate}>
	<article class='md:py-4 mx-auto max-w-[1000px]'>
		<h1 class='text-center text-4xl md:text-6xl md:pb-2.5 font-semibold'>
			{name}
		</h1>
		<hr class='mb-6 mt-3' />
		<header class='fadein mb-3 flex flex-col justify-center items-center gap-6'>
			<div class='flex flex-col gap-1'>
				<Image
					src={icon}
					width={200}
					height={200}
					quality={100}
					format='jpg'
					loading='eager'
					class='rounded-xl w-[120px] max-h-[120px] md:w-[200px] md:max-h-[200px] object-cover mx-auto mb-2'
					alt={`img of ${name}`}
				/>

				<div class='flex items-center justify-center gap-x-1 mb-6'>
					<Share message=`Check out this app: ${name}` />
				</div>

				<div
					class='mb-6 flex items-center justify-center gap-y-4 gap-x-4 mx-auto flex-col max-w-[180px] md:max-w-[420px] md:flex-row'
				>
					{
						appStore ? (
							<a href={appStore} class='max-w-[420px]' target='_blank' rel='noopener'>
								<AppStoreIcon />
							</a>
						) : (
							<div class='max-w-[420px]'>
								<AppStoreComingIcon />
							</div>
						)
					}
					{
						playStore ? (
							<a class='sm:w-34 md:w-[330px] ' href={playStore} target='_blank' rel='noopener'>
								<GooglePlayIcon />
							</a>
						) : (
							<div class='sm:w-34 md:w-[330px]'>
								<GooglePlayIconComing />
							</div>
						)
					}
				</div>
			</div>
		</header>
		<hr />

		<div>
			<slot />
		</div>

		{
			screenShots && (
				<section class='mb-3 flex flex-col justify-center items-center gap-6'>
					<div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6'>
						{screenShots.map((screenshot) => (
							<Image
								src={screenshot}
								width={screenshot.width}
								height={screenshot.height}
								quality={70}
								loading='eager'
								class='rounded-3xl object-cover'
								alt={`screenshot of ${name}`}
							/>
						))}
					</div>
				</section>
			)
		}
		<a href='#top' class='underline text-sm text-gray-500 dark:text-gray-400 mt-4 block'
			>Back to top</a
		>
	</article>
</BaseLayout>
