---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '@/components/FormattedDate'
import BaseLayout from '@/layouts/BaseLayout'
import type { MarkdownHeading } from 'astro'
import { Image } from 'astro:assets'
import AppStoreIcon from '@/components/icons/AppStoreIcon'
import GooglePlayIcon from '@/components/icons/GooglePlayIcon'
import Share from '@/components/Share'

type Props = {
	id: CollectionEntry<'app'>['id']
	data: CollectionEntry<'app'>['data']
	headings: MarkdownHeading[]
	readTime: string
}

const { data } = Astro.props
const { name, description, pubDate, heroImage, icon, screenShots } = data

const articleDate = pubDate.toISOString()
---

<BaseLayout title={name} description={description} image={heroImage?.src} articleDate={articleDate}>
	<article class='md:py-4 mx-auto max-w-[1000px]'>
		<header class='mb-3 flex flex-col justify-center items-center gap-6'>
			<div class='flex flex-col gap-1'>
				<Image
					src={icon}
					width={200}
					height={200}
					quality={100}
					format='jpg'
					loading='eager'
					class='rounded-xl w-[200px] max-h-[200px] object-cover mx-auto mb-2'
					alt={`img of ${name}`}
				/>

				<div class='flex items-center justify-center gap-x-1 mb-6'>
					<p class='text-center text-sm text-opacity-50'>
						Available since <FormattedDate date={pubDate} />
					</p>
				</div>

				<div class='mb-6 flex items-center justify-center gap-x-4 w-[380px] mx-auto'>
					<a
						href='https://apps.apple.com/de/app/astrobrain-space-program/id6737922303?l=en-GB'
						target='_blank'
						rel='noopener'
					>
						<AppStoreIcon />
					</a>
					<a
						class='w-[330px]'
						href='https://apps.apple.com/de/app/astrobrain-space-program/id6737922303?l=en-GB'
						target='_blank'
						rel='noopener'
					>
						<GooglePlayIcon />
					</a>
					<Share message=`Check out this app: ${name}` />
				</div>

				<h1 class='text-center text-5xl md:pb-2.5 font-semibold'>
					{name}
				</h1>
			</div>
		</header>
		<hr />

		<div>
			<slot />
		</div>

		{
			screenShots && (
				<section class='mb-3 flex flex-col justify-center items-center gap-6'>
					<div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6'>
						{screenShots.map((screenshot) => (
							<Image
								src={screenshot}
								width={screenshot.width}
								height={screenshot.height}
								quality={70}
								loading='eager'
								class='rounded-3xl object-cover'
								alt={`screenshot of ${name}`}
							/>
						))}
					</div>
				</section>
			)
		}
	</article>
</BaseLayout>
