---
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import ProviderTheme from '@/components/ProviderTheme'
import ProviderAnimations from '@/components/ProviderAnimations'
import TwSizeIndicator from '@/components/TwSizeIndicator'
import CookieConsent from '@/components/CookieConsent'
import { siteConfig } from '@/data/site.config'

declare global {
	interface Window {
		dataLayer: Record<string, any>[]
		gtag: (...args: any[]) => void
	}
}

const { title, description, image, articleDate, activeCategory } = Astro.props
const gtmId = siteConfig.gtmId
---

<html lang='en' class='scroll-smooth'>
	<head>
		<style type='text/css'>
			.fouc-fix {
				display: none;
			}
		</style>
		<script type='text/javascript'>
			try {
				const elm = document.getElementsByTagName('html')[0]
				const old = elm.class || ''
				elm.class = old + ' fouc-fix'
				document.addEventListener('DOMContentLoaded', function (event) {
					elm.class = old
				})
			} catch (thr) {}
		</script>
		<BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />
		<ProviderTheme />
		<ProviderAnimations />
	</head>

	<body class='bg-white text-stone-950 dark:bg-[#0a0910] dark:text-white'>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src=`https://www.googletagmanager.com/ns.html?id=${gtmId}`
				height='0'
				width='0'
				style='display:none;visibility:hidden'></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->

		<div
			class='sticky top-0 z-40 bg-white dark:bg-[#0a0910] bg-opacity-60 dark:bg-opacity-60 backdrop-blur-md -mt-4 mb-8'
			style='backdrop-filter: blur(12px); -webkit-backdrop-filter: blur(12px);'
			transition:animate='none'
		>
			<Header activeCategory={activeCategory} />
		</div>
		<main
			class='px-5 sm:mx-auto sm:max-w-2xl sm:px-8 lg:px-0 antialiased md:max-w-6xl mt-12 overflow-visible min-h-[85vh] mb-16'
		>
			<slot />
		</main>
		<div class='px-5 sm:mx-auto sm:max-w-2xl sm:px-8 lg:px-0 md:max-w-6xl'>
			<Footer />
		</div>
		<TwSizeIndicator />
		<style>
			body {
				margin-left: calc(100vw - 100%); /* prevent layout shift */
			}
		</style>

		<CookieConsent />
	</body>
</html>
